<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HoodCMS.Data.Properties.Settings.HoodCMSConnectionString"
            connectionString="Data Source=DENROGERSL\SQLEXPRESS;Initial Catalog=HoodCMS;Persist Security Info=True;User ID=HoodCMSDB;Password=sunipass"
            providerName="System.Data.SqlClient" />
        <add name="HoodCMS.Data.Properties.Settings.HoodConnectionString"
            connectionString="Data Source=DENROGERSL\SQLEXPRESS;Initial Catalog=Hood;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>